In [6]:
import os
import sys
path_to_this_notebook = os.path.abspath('.')
path_to_project = path_to_this_notebook[:path_to_this_notebook.find('note')]
sys.path.append(path_to_project)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from src.timedata_util import *

In [7]:
path_to_data = path_to_project + '/data/newyork_price/'

In [8]:
df = pd.read_csv(path_to_data + 'newyork_price_jan_april.csv')
date = df['DateTime'].apply(lambda x: x[:10])
time = df['DateTime'].apply(lambda x: x[11:16])
df['date'] = date
df['time'] = time
df['price'] = df['realtime_lbmp (avg) (nyiso)'] / 1000
columns = ['date', 'time', 'price']
df = df[columns]
df.head()

         date   time     price
0  2019-01-01  00:00  0.003384
1  2019-01-01  00:05  0.006766
2  2019-01-01  00:10  0.006721
3  2019-01-01  00:15  0.029613
4  2019-01-01  00:19  0.028865

In [9]:
current_dt_min = 5

In [10]:
%%time
df_new = []
for i in range(len(df)):
    row = df.iloc[i]
    t_str = row['time']
    t_min = t_str_to_t_min(t_str)
    for j in range(current_dt_min):
        new_t_min = t_min + j
        new_t_str = t_min_to_t_str(new_t_min)
        new_row = row.copy()
        new_row['time'] = new_t_str
        df_new.append(new_row)
df_new = pd.DataFrame(df_new, columns=df.columns)
df_new.head()

CPU times: user 17.6 s, sys: 454 ms, total: 18 s
Wall time: 18.8 s

         date   time     price
0  2019-01-01  00:00  0.003384
0  2019-01-01  00:01  0.003384
0  2019-01-01  00:02  0.003384
0  2019-01-01  00:03  0.003384
0  2019-01-01  00:04  0.003384

In [11]:
metadata = {'dates': df['date'].unique()}
with open(path_to_data + 'metadata_dict.pickle', 'wb') as f:
    pickle.dump(metadata, f)

In [12]:
df_new.to_csv(path_to_data + 'price.csv', index=None)